$sexy-red: #780f14;

// font-family: 'Ovo', serif;
// font-family: 'Pathway Gothic One', sans-serif;

body {
  font-family: 'Ovo', 'Gentium', 'Copse', 'Georgia', serif;
}

h1 {
  font-family: 'Pathway Gothic One', 'Bebas Neue', 'League Gothic', 'Graublau Web', sans-serif;
}

div {
  &.navbar-inner {
    background: 0;
    background-repeat: no-repeat;
    box-shadow: none;
    border: 0;
  }
}

ul {
  &.nav{
    text-transform: uppercase;
    font-family: "Anonymous Pro", "Delicious", "Courier new", typewriter;
    font-weight: bold;
    li{
      a{
        color: $sexy-red !important;
      }
    }
  }
}

img {
  &.logo {
    width: 350px;
    height: 300px;
  }
}
section {
  article {
    footer {
      font-style: italic;
    }
  }
}
